<div class="footer">
    <div class="footer-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id purus erat.
            Aliquam ut enim pretium, accumsan risus nec, imperdiet ante. Aliquam non venenatis magna. 
            Etiam elementum augue arcu, congue ultricies massa commodo at.
        </p>
    </div>
    <div class="links">
        <ul>
            <li><a href="">Lorem ipsum dolor sit amet</a></li>
            <li><a href="">Lorem ipsum dolor sit amet</a></li> 
            <li><a href="">Lorem ipsum dolor sit amet</a></li>
            <li><a href="">Lorem ipsum dolor sit amet</a></li>   
        </ul>  
    </div>
    <div class="clear-both">
    </div>
</div>