<div class="single-part">
    <h1>Single part</h1>
    <img src='assets/images/example_pic.png' alt="Try to imagine"/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id purus erat. 
        Aliquam ut enim pretium, accumsan risus nec, imperdiet ante. Aliquam non venenatis magna. 
        Etiam elementum augue arcu, congue ultricies massa commodo at. 
        Nam dignissim, ex quis ultrices vulputate, sapien erat tincidunt est, vitae auctor orci nulla in turpis. 
        Sed eu sem faucibus, lobortis massa et, ultricies nulla. Aenean at suscipit felis, id finibus ipsum. 
        Suspendisse maximus scelerisque tempus.
    </p>
    <hr />
    <h1>Single part</h1>
    <img src='assets/images/example_pic.png' alt="Try to imagine"/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id purus erat. 
        Aliquam ut enim pretium, accumsan risus nec, imperdiet ante. Aliquam non venenatis magna. 
        Etiam elementum augue arcu, congue ultricies massa commodo at. 
        Nam dignissim, ex quis ultrices vulputate, sapien erat tincidunt est, vitae auctor orci nulla in turpis. 
        Sed eu sem faucibus, lobortis massa et, ultricies nulla. Aenean at suscipit felis, id finibus ipsum. 
        Suspendisse maximus scelerisque tempus.
    </p>
    <hr />
    <h1>Single part</h1>
    <img src='assets/images/example_pic.png' alt="Try to imagine"/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id purus erat. 
        Aliquam ut enim pretium, accumsan risus nec, imperdiet ante. Aliquam non venenatis magna. 
        Etiam elementum augue arcu, congue ultricies massa commodo at. 
        Nam dignissim, ex quis ultrices vulputate, sapien erat tincidunt est, vitae auctor orci nulla in turpis. 
        Sed eu sem faucibus, lobortis massa et, ultricies nulla. Aenean at suscipit felis, id finibus ipsum. 
        Suspendisse maximus scelerisque tempus.
    </p>
</div>

